body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    padding-bottom: 280px;
}
sup {
    display: inline-block;
    margin-top: -0.5em;
}
.novisible {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    outline: none;
}
.content-wrapper {
    width: 1310px;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 0;
    z-index: 4;
    transition: all linear 0.1s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.header.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 5px 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.header.scrolled .header_logo img {
    height: 25px;
    margin: 5px 0;
}

.header_logo {
    float: left;
}
.header_logo img {
    display: block;
    height: 39px;
    transition: all linear 0.1s;
}
.header_menu {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
}
.header_menu_list {
    list-style-type: none;
    padding: 6px 0;
    margin: 0;
}
.header_menu_list_item {
    display: inline-block;
}
.header_menu_list_item_link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
}
.header_menu_list_item_link:hover {
    color: #66BB6A;
    text-decoration: underline;
}

.btn {
    padding: 8px 65px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    border: 0 none;
    outline: 0 none;
    transition: all linear 0.05s;
    display: inline-block;
    box-sizing: border-box;
}
.btn, .btn:hover, .btn:active {
    text-decoration: none;
}
.btn-submit {
    color: #fff;
    background-color: #66BB6A;
    box-shadow: 0 3px 5px rgba(102, 187, 106, 0.05);
}
.btn-submit:hover {
    background-color: #76d17a;
    box-shadow: 0 3px 15px rgba(102, 187, 106, 0.2);
}
.btn-submit:active {
    background-color: #549a57;
    box-shadow: 0 3px 4px rgba(102, 187, 106, 0.2);
}

.main {

}
.main_section {

}
.main_section_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 0.5em;
}
.main_section__home {
    background:
            url(../../static/images/woman.svg) calc(50% + 200px) center no-repeat,
            url(../../static/images/home-bg.svg) center center no-repeat;
    background-size: auto, cover;
    padding: 160px 0;
}
.main_section__home_title {
    font-size: 46px;
    line-height: 64px;
    font-weight: 900;
    color: #000;
}
.main_section__home_description {
    font-size: 18px;
    line-height: 32px;
    color: #263238;
    margin-top: 50px;
}
.main_section__home_title,
.main_section__home_description {
    width: 640px;
    max-width: 100%;
}
.main_section__home_button {
    margin-top: 60px;
}





.main_section__about {
    background: url(../../static/images/offers-bg-flower.svg) calc(50% + 500px) 10px no-repeat,
    url(../../static/images/offers-bg.svg) left center no-repeat;
    padding: 50px 0;
}
.main_section__about_description {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #324148;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.about-offers {
    margin-top: 64px;
    display: flex;
    margin-left: -2%;
    margin-right: -2%;
}
.about-offers_item {
    width: 33.333%;
}

.about-offers_item_content {
    margin: 0 4%;
    background: #FFFFFF;
    box-shadow: -1px 13px 20px #F0F2F4;
    border-radius: 8px;
    padding: 11px 10% 30px;
    box-sizing: border-box;
    color: #263238;
    height: 100%;
}
.about-offers_item_img {
    margin: 11px auto;
    text-align: center;
    line-height: 123px;
    height: 123px;
}
.about-offers_item_title {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
}
.about-offers_item_desc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 21px;
}




.main_section__calculate {
    padding: 50px 0;
    background-color: #fefeff;
}
.main_section__calculate_title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1em;
}
.calculate-form {

}
.calculate-form:after {
    clear: both;
    display: block;
    content: '';
}
.calculate-form_fields {
    float: right;
    width: 28%;
}
.calculate-form_field {

}
.calculate-form_field_label {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}

.calculate-form_field_control input, .calculate-form_field_control select {
    background: #FFFFFF;
    border: 2px solid rgba(134, 147, 188, 0.6);
    border-radius: 2px;
    height: 52px;
    width: calc(80% - 45px);
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
.calculate-form_field + .calculate-form_field {
    margin-top: 10px;
}
.calculate-form_field_unit {
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}
.calculate-form_checkbox-group {
    margin-top: 10px;
}
.calculate-form_checkbox {
    margin-bottom: 10px;
}
.calculate-form_checkbox,
.calculate-form_radio {
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
    vertical-align: middle;
}
.calculate-form_radio {
    height: 52px;
    min-width: 52px;
    display: inline-block;
}
.calculate-form_checkbox input,
.calculate-form_radio input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    right: 100%;
    bottom: 100%;
}
.calculate-form_checkbox_mask {
    background: #FFFFFF;
    border: 2px solid rgba(134, 147, 188, 0.6);
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
}
.calculate-form_radio_mask {
    background: #FFFFFF;
    border: 2px solid rgba(134, 147, 188, 0.6);
    border-radius: 2px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.calculate-form_radio_text {
    text-align: center;
    padding: 13px;
    line-height: 26px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    display: block;
}

.calculate-form_radio input:checked + .calculate-form_radio_mask {
    background-color: #66BB6A;
    border-color: #66BB6A;
}

.calculate-form_radio input:checked ~ .calculate-form_radio_text {
    color: #fff;
}



.calculate-form_checkbox input:checked + .calculate-form_checkbox_mask:after {
    content: '';
    display: inline-block;
    border-width: 0 3px 3px 0;
    border-color: #66BB6A;
    border-style: solid;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
}

.calculate-form_checkbox_text {
    margin-left: 8px;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}


.calculate-form_field_control_group {
    display: flex;
    justify-content: space-between;
}
.calculate-form_field_control_group input {
    width: 100%;
}
.calculate-form_field_control_group_cell {
    width: 48%;
}

.calculate-form_btn {

}
.calculate-form_map {
    float: left;
    width: 70%;
}
.calculate-form_map_label {
    font-size: 18px;
    line-height: 32px;
    color: #324148;
    margin-bottom: 13px;
    margin-top: 13px;

}
.calculate-form_map_container {
    height: 510px;
}


.calculate-form_result {
    clear: both;
    padding-top: 20px;
    text-align: right;
}
.calculate-form_result_item {
    display: inline-block;
    margin-left: 15px;
    background: #FFFFFF;
    box-shadow: -1px 13px 20px #F0F2F4;
    border-radius: 5px;
    padding: 30px;
    overflow: hidden;
    position: relative;
    text-align: left;
    min-width: 28%;
    box-sizing: border-box;
}
.calculate-form_result_item:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #66BB6A;
    box-shadow: -1px 13px 20px #F0F2F4;
    content: '';
}
.calculate-form_result_item_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.calculate-form_result_item_value {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #66BB6A;
    margin-top: 5px;
}


.main_section__team {
    padding: 50px 0;
}
.main_section__team_title {
    font-weight: 900;
    font-size: 36px;
    line-height: 64px;
    margin-bottom: 20px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
}
.team-list_item {
    width: 33.333%;
    margin-bottom: 25px;
}
.team-list_item_content {
    margin-right: 15%;
    padding: 10px 0;
}
.team-list_item_ava {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-size: cover;
}
.team-list_item_name {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-top: 1.25em;
}
.team-list_item_position {
    font-size: 15px;
    color: #66BB6A;
    line-height: 1.25em;
    margin: 0.5em 0;
    font-weight: bold;
}
.team-list_item_social {
    margin: 10px 0 15px;
}
.team-list_item_description {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.55);
}







.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 0;
    background: url(../../static/images/footer-bg.svg) center top no-repeat;
    background-size: cover;
}
.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.footer_logo {
    width: 172px;
}
.footer-email {
    font-size: 25px;
    margin-top: 18px;
}
.footer-phone {
    font-size: 25px;
    margin-top: 18px;
}
.footer-social {
    margin-top: 18px;
}
.footer-social_link {

}
.footer-social_link_icon {

}
.copy {
    font-size: 12px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}
.copy-link {
    color: inherit;
}

.additional-params_link {
    color: #66BB6A;
    font-weight: 700;
    line-height: 26px;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 0;
    display: block;
    clear: both;
}
.additional-params_link span {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted;
}

.additional-params_link:after {
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #66BB6A;
    margin-top: -3px;
}

.additional-params_params {
    display: none;
}
.additional-params_checkbox {
    position: absolute;
    opacity: 0;
    outline: none;
    width: 1px;
    height: 1px;
}
.additional-params_checkbox:checked~.additional-params_link:after {
    transform: rotate(-135deg);
    margin-top: 3px;
}
.additional-params_checkbox:checked ~ .additional-params_params {
    display: block;
}


.form-type-setter {
    background-color: #66BB6A;
    border-radius: 5px;
    padding: 8px 3px;
    white-space: nowrap;
    display: flex;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(102, 187, 106, 0.46);
    position: relative;
}



.form-type-setter:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: calc(50% - 7px);
    width: 15px;
    height: 15px;
    background-color: #66BB6A;
    transform: rotate(45deg);
    transition: all linear 0.2s;
    margin-top: -7px;
}

#results-list-block.in-progress {
    position: relative;
    opacity: 0.4;
}
#results-list-block.in-progress:after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

[value="calc-price"]:checked ~ .form-type-setter:after {
    margin-left: -150px;
}
[value="search-price"]:checked ~ .form-type-setter:after {
    margin-left: 150px;
}

[value="calc-price"]:checked ~ .form-type-setter [for="calc-price"] {
    color: #222;
    background-color: #fff;
}
[value="search-price"]:checked ~ .form-type-setter [for="search-price"] {
    color: #222;
    background-color: #fff;
}

[value="search-price"]:checked ~ .calculate-form #calculate-form ,
[value="search-price"]:checked ~ .calculate-form [data-analyze-map-title] {
    display: none;
}

[value="calc-price"]:checked ~ .calculate-form #search-form,
[value="calc-price"]:checked ~ .calculate-form [data-search-map-title] {
    display: none;
}

[value="search-price"]:checked ~ .calculate-form_result {
    display: none;
}

[value="calc-price"]:checked ~ .calculate-form #results-list-block {
    display: none!important;
}


.form-type-setter_btn {
    width: 300px;
    vertical-align: middle;
    margin: 0 5px;
    position: relative;
    z-index: 1;
}
.form-type-setter_btn label {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    line-height: 20px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 700;
    transition: all linear 0.2s;
}


.results-list {
    margin-top: 30px;
}
.results-list_item {
    border-radius: 5px;
    border: 2px solid #f5f5f5;
    padding: 12px 30px;
    display: table;
    width: 100%;
    margin-bottom: 18px;
    text-decoration: none;
    transition: all linear 0.1s;
    box-sizing: border-box;
}
.results-list_item:hover {
    border-color: #67bc6b;
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.results-list_item_price {
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
}
.results-list_item_price_full {
    color: #212121;
    font-size: 24px;
    display: block;
}
.results-list_item_price_per {
    color: #67bc6b;
    display: block;
    margin-top: 13px;
    font-size: 16px;
}
.results-list_item_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f3f3f3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
}

.results-list_item_desc {
    font-size: 16px;
    color: #212121;
    padding-left: 32px;
    display: table-cell;
    vertical-align: middle;
}
.results-list_item_desc_rooms {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.results-list_item_desc_address {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.results-list_item_desc_metro {
    color: #99a1a4;
}
.results-list_navigation {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.results-list_navigation-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    color: #222;
    vertical-align: middle;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    margin: 0 6px;
    line-height: 65px;
    cursor: pointer;
    text-decoration: none;
}
.results-list_navigation-btn.active {
    background-color: #67bc6b;
    color: #fff;
    font-weight: 600;
}


template {
    display: none;
}

@media screen and (max-width: 990px) {
    .header_menu_list {
        display: none;
    }
    .calculate-form_map {
        float: none;
        width: auto;
    }
    .calculate-form_fields {
        width: auto;
        float: none;
        margin-top: 25px;
    }
    .calculate-form_field {
        float: left;
        width: 50%;
        white-space: nowrap;
    }
    .calculate-form_field + .calculate-form_field {
        margin-top: 0;
    }
    .calculate-form_field_control input, .calculate-form_field_control select {
        width: 75%;
    }
    .calculate-form_checkbox-group {
        clear: both;
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .calculate-form_checkbox {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
    }
    .calculate-form_map_container {
        height: 70vw;
    }
}

@media screen and (max-width: 740px) {
    .calculate-form_field {
        width: 50%;
    }
    .about-offers {
        display: block;
    }
    .about-offers_item {
        width: auto;
    }
    .about-offers_item + .about-offers_item {
        margin-top: 20px;
    }
    .about-offers_item_content {
        padding-left: 3%;
        padding-right: 3%;
    }
    .main_section__home {
        background-size: 0, cover;
    }
}

@media screen and (max-width: 580px) {
    .calculate-form_field {
        width: 100%;
    }
    .calculate-form_checkbox {
        display: block;
    }
}



@media screen and (max-width: 640px) {

    .main_section__home_title {
        font-size: 7vw;
        line-height: 1.25em;
    }
    .main_section__calculate_title,
    .main_section__team_title {
        font-size: 6vw;
    }
    .team-list_item {
        width: auto;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .team-list {
        display: block;
    }
    .team-list_item_content {
        margin-right: 0;
    }
    .team-list_item_ava {
        margin-left: auto;
        margin-right: auto;
    }
}